In [14]:
import pandas_datareader as web

In [24]:
start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2019, 12, 31)
df = web.DataReader("^NSEI", 'yahoo', start, end)
df1 = web.DataReader("TCS.NS", 'yahoo', start, end)
df1.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-01,1347.400024,1317.500000,1341.150024,1322.800049,1351760.0,1243.563110
2018-01-02,1334.800049,1310.099976,1330.000000,1315.599976,1920290.0,1236.794189
2018-01-03,1334.500000,1315.599976,1316.000000,1319.319946,1257120.0,1240.291504
2018-01-04,1331.000000,1320.000000,1325.000000,1328.550049,913082.0,1248.968872
2018-01-05,1349.750000,1325.000000,1325.000000,1344.599976,1153706.0,1264.057373