In [3]:
import pandas_datareader as web
import ta, datetime

In [28]:
start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2020, 9, 24)
df = web.DataReader("^NSEI", 'yahoo', start, end)
#df1 = web.DataReader("TCS.NS", 'yahoo', start, end)
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,10495.200195,10404.650391,10477.549805,10442.200195,153400.0,10442.200195
2018-01-03,10503.599609,10429.549805,10482.650391,10443.200195,167300.0,10443.200195
2018-01-04,10513.000000,10441.450195,10469.400391,10504.799805,174900.0,10504.799805
2018-01-05,10566.099609,10520.099609,10534.250000,10558.849609,180900.0,10558.849609
2018-01-08,10631.200195,10588.549805,10591.700195,10623.599609,169000.0,10623.599609

In [29]:
ma40 = ta.trend.SMAIndicator(df['Close'], 40).sma_indicator()
df['sma40'] = ma40.sort_values(ascending=True)
df.tail()

,High,Low,Open,Close,Volume,Adj Close,sma40
Date,,,,,,,
2020-09-18,11584.099609,11446.099609,11584.099609,11504.950195,764200.0,11504.950195,11345.469971
2020-09-21,11535.250000,11218.500000,11503.799805,11250.549805,602900.0,11250.549805,11348.438721
2020-09-22,11302.200195,11084.650391,11301.750000,11153.650391,672200.0,11153.650391,11344.766235
2020-09-23,11259.549805,11024.400391,11258.750000,11131.849609,714900.0,11131.849609,11342.991235
2020-09-24,11015.299805,10790.200195,11011.000000,10805.549805,706100.0,10805.549805,11335.576221

In [30]:
df['Long'] = df['Close'] > df['sma40']
df.tail()

,High,Low,Open,Close,Volume,Adj Close,sma40,Long
Date,,,,,,,,
2020-09-18,11584.099609,11446.099609,11584.099609,11504.950195,764200.0,11504.950195,11345.469971,True
2020-09-21,11535.250000,11218.500000,11503.799805,11250.549805,602900.0,11250.549805,11348.438721,False
2020-09-22,11302.200195,11084.650391,11301.750000,11153.650391,672200.0,11153.650391,11344.766235,False
2020-09-23,11259.549805,11024.400391,11258.750000,11131.849609,714900.0,11131.849609,11342.991235,False
2020-09-24,11015.299805,10790.200195,11011.000000,10805.549805,706100.0,10805.549805,11335.576221,False

In [31]:
df['DReturns'] = df['Close'] - df['Open']
df.tail()

,High,Low,Open,Close,Volume,Adj Close,sma40,Long,DReturns
Date,,,,,,,,,
2020-09-18,11584.099609,11446.099609,11584.099609,11504.950195,764200.0,11504.950195,11345.469971,True,-79.149414
2020-09-21,11535.250000,11218.500000,11503.799805,11250.549805,602900.0,11250.549805,11348.438721,False,-253.250000
2020-09-22,11302.200195,11084.650391,11301.750000,11153.650391,672200.0,11153.650391,11344.766235,False,-148.099609
2020-09-23,11259.549805,11024.400391,11258.750000,11131.849609,714900.0,11131.849609,11342.991235,False,-126.900391
2020-09-24,11015.299805,10790.200195,11011.000000,10805.549805,706100.0,10805.549805,11335.576221,False,-205.450195

In [32]:
df['Long'] = df.Long.shift(1)
df.tail()

,High,Low,Open,Close,Volume,Adj Close,sma40,Long,DReturns
Date,,,,,,,,,
2020-09-18,11584.099609,11446.099609,11584.099609,11504.950195,764200.0,11504.950195,11345.469971,True,-79.149414
2020-09-21,11535.250000,11218.500000,11503.799805,11250.549805,602900.0,11250.549805,11348.438721,True,-253.250000
2020-09-22,11302.200195,11084.650391,11301.750000,11153.650391,672200.0,11153.650391,11344.766235,False,-148.099609
2020-09-23,11259.549805,11024.400391,11258.750000,11131.849609,714900.0,11131.849609,11342.991235,False,-126.900391
2020-09-24,11015.299805,10790.200195,11011.000000,10805.549805,706100.0,10805.549805,11335.576221,False,-205.450195

In [33]:
df_returns = df[df['Long']==True]
df_returns.head()

,High,Low,Open,Close,Volume,Adj Close,sma40,Long,DReturns
Date,,,,,,,,,
2018-04-10,10424.849609,10381.500000,10412.900391,10402.250000,251700.0,10402.250000,10328.832520,True,-10.650391
2018-04-11,10428.150391,10355.599609,10428.150391,10417.150391,250400.0,10417.150391,10324.840039,True,-11.000000
2018-04-12,10469.900391,10395.250000,10410.650391,10458.650391,238600.0,10458.650391,10324.932544,True,48.000000
2018-04-13,10519.900391,10451.450195,10495.299805,10480.599609,213100.0,10480.599609,10323.453784,True,-14.700195
2018-04-16,10540.150391,10396.349609,10398.299805,10528.349609,195000.0,10528.349609,10324.140015,True,130.049805

In [34]:
df_returns.DReturns.sum()

-5547.7041015625

In [35]:
df.shape

(670, 9)

In [36]:
df_returns.shape

(411, 9)

In [37]:
df['Short'] = df['Close'] < df['sma40']
df['SReturns'] = df['Open'] - df['Close']
df_sreturns = df[df['Short']==True]
df_sreturns.head()

,High,Low,Open,Close,Volume,Adj Close,sma40,Long,DReturns,Short,SReturns
Date,,,,,,,,,,,
2018-02-28,10535.500000,10461.549805,10488.950195,10492.849609,286000.0,10492.849609,10666.471289,False,3.899414,True,-3.899414
2018-03-01,10525.500000,10447.150391,10479.950195,10458.349609,176000.0,10458.349609,10666.875024,False,-21.600586,True,21.600586
2018-03-05,10428.700195,10323.900391,10428.299805,10358.849609,194000.0,10358.849609,10664.766260,False,-69.450195,True,69.450195
2018-03-06,10441.349609,10215.900391,10420.500000,10249.250000,222900.0,10249.250000,10658.377515,False,-171.250000,True,171.250000
2018-03-07,10243.349609,10141.549805,10232.950195,10154.200195,249500.0,10154.200195,10648.261279,False,-78.750000,True,78.750000

In [38]:
df_sreturns.SReturns.sum()

8017.49560546875

In [24]:
import pyfolio as pf
%matplotlib inline

c:\users\vishwanath.vidap\appdata\local\programs\python\python38-32\lib\site-packages\pyfolio\pos.py:26: UserWarning: Module "zipline.assets" not found; mutltipliers will not be applied to position notionals.
  warnings.warn(

In [27]:
pf.create_returns_tear_sheet(df_sreturns.SReturns, live_start_date='2018-1-1')

c:\users\vishwanath.vidap\appdata\local\programs\python\python38-32\lib\site-packages\empyrical\stats.py:445: RuntimeWarning: invalid value encountered in double_scalars
  return ending_value ** (1 / num_years) - 1
c:\users\vishwanath.vidap\appdata\local\programs\python\python38-32\lib\site-packages\empyrical\stats.py:1492: RuntimeWarning: invalid value encountered in log1p
  cum_log_returns = np.log1p(returns).cumsum()

TypeError: Cannot compare tz-naive and tz-aware datetime-like objects.