In [14]:
import pandas_datareader as web

In [21]:
start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2019, 12, 31)
df = web.DataReader("RELIANCE.NS", 'yahoo', start, end)
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-01,922.700012,907.500000,922.700012,909.750000,4321686.0,895.929260
2018-01-02,919.549988,906.400024,913.000000,911.150024,4342815.0,897.308044
2018-01-03,926.000000,913.049988,925.000000,914.799988,6175312.0,900.902649
2018-01-04,921.799988,915.700012,918.150024,920.299988,4118581.0,906.319092
2018-01-05,926.900024,920.250000,921.799988,923.250000,3401905.0,909.224243